[user]
	name = Enno Rehling
	email = enno.rehling@gmail.com
[pull]
	rebase = true
[color]
	ui = true
[alias]
        cp = cherry-pick
        co = checkout
        ci = commit
        st = status
        sm = submodule
        br = branch
        me = merge
	sm = submodule
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[help]
	autoCorrect = prompt
[branch]
	sort = -committerdate
[fetch]
	prune = true
