[user]
	name = Enno Rehling
	email = enno.rehling@gmail.com
[pull]
	rebase = true
[merge]
	ff = false
[color]
	ui = true
[alias]
        cp = cherry-pick
        co = checkout
        ci = commit
        st = status
        sm = submodule
        br = branch
        me = merge
[init]
	defaultBranch = master
