StrictHostKeyChecking=no
ForwardAgent yes

Host imvu-sandbox
	User cit
  HostName 192.168.112.10

Host opsadmin
	User erehling
  HostName opsadmin.imvu.com

Host home
    User pi
    HostName dmz.enno.linkpc.net

Host hallon-1
    User pi

Host hallon-2
    User pi

Host eressea
    HostName gelbbaer.kn-bremen.de
    User eressea

Host en.no.de
    Port 18485
    User node
