set imap_user = "enno.rehling@gmail.com"
set smtp_url = "smtp://enno.rehling@smtp.gmail.com:587/"
set from = "enno.rehling@gmail.com"
set realname = "Enno Rehling"

# Basic config, you can leave this as is
set folder = "imaps://imap.gmail.com:993"
set spoolfile = "+INBOX"
set imap_check_subscribed
set hostname = gmail.com
set mail_check = 120
set timeout = 300
set imap_keepalive = 300
set postponed = "+[Gmail]/Drafts"
#set record = "+[Gmail]/Sent Mail"
