alias enno_at_eressea Enno Rehling <enno@eressea.de>
alias enno_at_twigtech Enno Rehling <enno@twigtechnology.com>
alias enno_at_gmail Enno Rehling <enno.rehling@gmail.com>
alias enno_at_knbremen Enno Rehling <enno@kn-bremen.de>

# Eressea
send-hook "~t jan.thaler" "set from='Enno Rehling <enno@eressea.de>'"
send-hook "~t 'akoenigs|freisturz|thaler|stm'" "set from='Enno Rehling <enno@eressea.de>'"
send-hook "~t 'eressea|atlantis|pbem'" "set from='Enno Rehling <enno@eressea.de>'"

# Personal
send-hook "~t imvu" "set from='Enno Rehling <enno@kn-bremen.de>"

folder-hook "Eressea" "set from='Enno Rehling <enno@eressea.de>'"

subscribe eressea-design
subscribe eressea-dev
subscribe atlantisdev
subscribe eressea-annnounce
subscribe htf-volunteers
subscribe olympia_pbem
